<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @standard_poll_option_set.name %>
</p>


<%= link_to 'Edit', edit_standard_poll_option_set_path(@standard_poll_option_set) %> |
<%= link_to 'Back', standard_poll_option_sets_path %>
