<h3>Quick Poll Responses</h3>

Todo: summarize this data rather than present it raw, obviously.
<p>
<b><%= @quick_poll.title %></b>
<p>
<table width=400>
  <tr>
    <th>User</th>
    <th>Response Value</th>
  </tr>

<% @quick_poll_responses.each do |quick_poll_response| %>
  <tr>
    <td><%= quick_poll_response.user_id %></td>
    <td><%= quick_poll_response.value %></td>
  </tr>
<% end %>
</table>

<br />


