<h3>Editing Office for <%= @office.polity %> </h3>

<%= render 'form' %>

<%= link_to 'Show', @office %> |
<%= link_to 'Back', admin_offices_path(:polity_type => @office.polity_type, :polity_id => @office.polity_id) %>
