<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @quick_poll_type.type %>
</p>


<%= link_to 'Edit', edit_quick_poll_type_path(@quick_poll_type) %> |
<%= link_to 'Back', quick_poll_types_path %>
