<%= simple_form_for([@municipality, @ward]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :ward_number %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
